# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
# docs:
# - https://github.com/actions/dependency-review-action
# - https://docs.github.com/en/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-the-dependency-review-action
---
name: __dependency-review

on:
  workflow_call:

permissions: {}

jobs:
  dependency-review:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      contents: read
      pull-requests: write
      checks: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Run Dependency Review
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        with:
          comment-summary-in-pr: always
          retry-on-snapshot-warnings: true
          warn-on-openssf-scorecard-level: 4
